In [131]:
import pandas as pd
import numpy as np
from fuzzywuzzy import process, fuzz
from matplotlib import pyplot as plt
import seaborn as sns
import re

In [218]:
"""
explore college data
"""

# read in data
df = pd.read_csv('../data/exploring_data.csv')
uf = pd.read_csv('../data/colleges.csv')

df['uni_close'] = 'none'
df['uni_save'] = df['uni']

#
df['uni'] = df['uni'].fillna('none given')
df['uni'] = df['uni'].str.replace('Uof','University of')
df['uni'] = df['uni'].str.replace('U of','University of')
df['uni'] = df['uni'].str.replace('Jacobs School of Music','')
uf['displayName'] = uf['displayName'].fillna('none given')

def stripnames(dataframe,instring,outstring):
    dataframe.loc[df['uni'].str.replace(' ','').replace("'",'').replace('-','') \
                  ==instring.replace(' ','').replace("'",'').replace('-',''),'uni']=outstring
    return dataframe

# # heres where I'm lining up the names
df = stripnames(df,'Indiana University','Indiana University--Bloomington')
df = stripnames(df,'NYU','New York University')
df = stripnames(df,'Oberlin','Oberlin College')
df = stripnames(df,'UIC','University of Illinois Chicago')
df = stripnames(df,'UIUC','University of Illinois--Urbana Champaign')
df = stripnames(df,'USC(So.Cal.)','University of Southern California')
df = stripnames(df,'UofMichigan','University of Michigan')
df = stripnames(df,'Peabody','Johns Hopkins University')
df = stripnames(df,'University of I','University of Illinois--Urbana Champaign')
df = stripnames(df,'NIU','Northern Illinois University')
df = stripnames(df,'U.ofMinnesotaCarlsonSchoolofBusiness','University of Minnesota')
df = stripnames(df,'NEC','New England Conservatory')
df = stripnames(df,'MIT','Massachussetts Institute of Technology')
df = stripnames(df,'Gap Year','none')
df = stripnames(df,'Year off','none')
df = stripnames(df,'The Juilliard School','Julliard School')
df = stripnames(df,'IUBloomington,JacobsSchoolofMusic','Indiana University--Bloomington')
df = stripnames(df,'IUJacobsSchoolofMusic','Indiana University--Bloomington')
df = stripnames(df,'HarvardCollege','Harvard University')
df = stripnames(df,'Undecided','none')
df = stripnames(df,'NotgoingtoCollege','none')
df = stripnames(df,'IndianaUniversityJacobsSchoolofMusic','Indiana University--Bloomington')
df = stripnames(df,'IndianaUniversity,JacobsSchoolofMusic','Indiana University--Bloomington')
df = stripnames(df,'IndianaUniversity(JacobsSchoolofMusic)','Indiana University--Bloomington')
df = stripnames(df,'JacobsSchoolofMusic,atIndianaUniversity','Indiana University--Bloomington')
df = stripnames(df,'ClarendonHillsMiddleSchool','none')
df = stripnames(df,'IU','Indiana University--Bloomington')
df = stripnames(df,'LawrenceConservatory','Lawrence University')
df = stripnames(df,'IndianaUniversity','Indiana University--Bloomington')
df = stripnames(df,'WesternIllinoisUniversity','WesternIllinois')
df = stripnames(df,'UniversityofIllinois','University of Illinois--Urbana Champaign')
df = stripnames(df,',atIndianaUniversity','Indiana University--Bloomington')
df = stripnames(df,'X','X')
df = stripnames(df,'X','X')
df = stripnames(df,'X','X')
df = stripnames(df,'X','X')
df = stripnames(df,'X','X')

for index, row in df.iterrows():
    df.loc[index, 'uni_close']=process.extractOne(row['uni'],uf['displayName'])[0]
    


# for index, row in df.iterrows():
#     actual_uni = row['uni'].replace(' ','').replace("'",'').replace('-','')
#     closest_uni = row['uni_close'].replace(' ','').replace("'",'').replace('-','')
#     if 90 < fuzz.ratio(actual_uni,closest_uni) < 100:
#         print(actual_uni.strip(), ' AND ',closest_uni.strip())

In [219]:
df.uni_close.unique()

array(['Indiana University--Bloomington', 'Northwestern University',
       'Columbia University', 'Lawrence University', 'Williams College',
       'New York University', 'Oberlin College', 'DePaul University',
       'Harvard University', 'Washington University in St. Louis',
       'University of Illinois--Chicago', 'Carnegie Mellon University',
       'University of Southern California', 'Eastman School of Music',
       'University of Michigan--Ann Arbor',
       'Northern Illinois University', 'Roosevelt University',
       'University of Cincinnati', 'Johns Hopkins University',
       'University of Illinois--Urbana-Champaign',
       'New England Conservatory', 'Berklee College of Music',
       'Amhearst College', 'Brown University',
       'Western Michigan University', 'Southern Methodist University',
       'Rice University', 'Julliard School',
       'University of Minnesota--Twin Cities',
       'IllinoisWesleyanUniversity', 'University of Missouri--St. Louis',
       'Yale University', 'Colburn University', 'Cornell University',
       'University of Connecticut', 'Butler University',
       'HaroldWashingtonCollege', 'University of Missouri',
       'Illinois State University', 'Vanderbilt University',
       'Utah State University', 'Curtis Institute of Music',
       'Cleveland Institute of Music', 'Michigan State University',
       'University of Notre Dame', 'Lake Forest College',
       'Case Western Reserve University', 'none',
       'College of William and Mary', 'Vandercook College',
       'Massachusetts Institute of Technology', 'Princeton University',
       'University of Chicago', 'University of Arizona',
       'Brigham Young University--Provo', 'Wellesley College',
       'CreightonUniversity', 'Bradley University',
       'University of Pennsylvania', 'ArtInstituteofCalifornia',
       'Miami University--Oxford', 'Ball State University',
       'University of Miami', 'Waubonsee', 'Loyola University Chicago',
       'University of Iowa', 'College of Dupage', 'Conservatory of Paris',
       'Augustana College', 'Manhattan School of Music',
       'Los Angeles Community College', 'Olin College of Engineering',
       'Bowdoin College', 'Wheaton College', 'WesternIllinois',
       'BelmontUniversity', 'Luther College',
       'Purdue University--West Lafayette', 'North Central College',
       'Northeastern University', 'Oklahoma State University',
       'University of Alabama', 'Chicago College of Performing Arts',
       'Stanford University', 'University of Colorado--Boulder',
       'Dartmouth College', 'OberlinConservatoryofMusic',
       'San Francisco Conservatory', 'TheOhioStateUniversity',
       'Iowa State University', 'St. Olaf College',
       'Seminole State College Altamonte Springs',
       'UniversityofBritishColumbia',
       'Southern Illinois University--Carbondale',
       'University of California--Berkeley',
       'University of Wisconsin--Madison', 'Boston University',
       'StetsonUniversity', 'La Haute Ecole de Musique de Lausanne',
       'Colorado College', 'Emory University', 'Mannes School of Music',
       'College of the Holy Cross', 'CarrollUniversity',
       'Boston Conservatory', 'Louisiana State University--Baton Rouge',
       'UniversityofWisconsinWhitewater', 'University of Rochester',
       'University of North Texas', 'Clark Atlanta University',
       'Colorado State University', 'MountHolyokeCollege',
       'HighPointUniversity', 'Duke University'], dtype=object)